<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style-blogs.css" />
  </head>
  <body>
    {% include "header.njk" %}
    <div class="containner">
      <main class="post">
        <article class="post-content">
          <h1>{{ title }}</h1>
          <div class="autor-data">
            <p>
              <address>Autora: {{ author }}</address><br>
              <!-- published date -->
              <time datetime="{{ date | dateISO }}">
                {{ date | readableDate }}
              </time>

              {% if lastUpdated %}
                <br>
                <!-- last-updated date -->
                <span class="last-updated">
                  Atualizado em:
                  <time datetime="{{ lastUpdated | dateISO }}">
                    {{ lastUpdated | readableDate }}
                  </time>
                </span>
              {% endif %}
            </p>
          </div>
          {{ content | safe }}
        </article>
      </main>
      <section class="side-bar">
        <div class="ajuda">
          <h2>Precisa da minha ajuda?</h2>
          <a href="/index" class=" btn btn_border">Saiba Mais</a>
        </div>
        <div class="artigos">
          <h2>Você pode se interessar também:</h2>
          <ul>
            {%- for post in collections.post | reverse -%}
            {% if loop.index <= 3 %}
              <li>
                <h3>{{ post.data.title }}</h3>
                <p>Autora: {{ post.data.author }}</p>
              </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </div>
      </section>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
