<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EFTclub Blogs</title>

    <link rel="stylesheet" href="/css/style-blogs.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="/js/search.js"></script>
  </head>
  <body>
    {% include "header.njk" %}

    <main class="container blog-index" aria-label="EFTclub Blog Content">
      
      <div class="container-title">
        <h1> {{ title }} </h1>
        <p>Leia mais sobre como você pode melhorar a sua qualidade de vida.</p>
      </div>
      
      <div class="post">
        

        {{ content | safe }}

      </div>

      <aside class="side-bar side-bar-blog">
        <div class="tags">
          <p>Por tópico:</p>
          <ul>
            {% for tag in collections.tagList %}
              <li>
                <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="container-search">
          <p>Pesquisar todos artigos</p>
          <form id="index-search-form" action="/search/" method="get">
            <input
              name="q"
              id="search-input"
              type="search"
              placeholder="Pesquisar..."
              aria-label="Buscar post"
              class="search-input"
            />
          </form>
          <p id="search-message" class="search-message"></p>
        </div>
      </aside>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
