<nav role="navigation" aria-label="main menu" class="navigation">
  <div class="nav-main">
    <a href="/index.html" class="img_link"
      ><img
      src="/images/logo-eftclub-64w.webp"
      srcset="
        /images/logo-eftclub-32w.webp   32w,
        /images/logo-eftclub-64w.webp   64w,
        /images/logo-eftclub-128w.webp 128w,
        /images/logo-eftclub-512w.webp 512w
      "
      sizes="50px"
      alt="EFT Club logo">
    </a>
    <p class="lema">A sua cura de dentro para fora</p>
    <a href="/blog/" class="img_link"
      ><p class="blogs">EFTclub blog</p></a
    >
  </div>

  <a class="img_link" href="/index.html"
    ><div class="call">
      <p>Conheça as nossas sessões de terapia online</p>
    </div></a
  >
</nav>
