<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artigos</title>

    <link rel="stylesheet" href="/css/style-blogs.css">

    <link rel="stylesheet" href="/css/style.css">

    <script type="module" src="/js/main.js"></script>

  </head>
  <body>
    {% include "header.njk" %}

    <div class="container-blogs">
      <div class="container-search">
      <input
        id="search-input"
        type="search"
        placeholder="Buscar post..."
        aria-label="Buscar post"
        class="search-input"
      />
      <p id="search-message" class="search-message"></p></div>

      <div class="tags">
        <p>Por categoria:</p>
        <ul>
          {% for tag in collections.tagList %}
            <li>
              <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <ul role="list" id="search-results" class="articles_list flow">
        {%- for post in collections.post | reverse -%}
          <li class="snippet">
            <h3 class="snippet_title">{{ post.data.title }}</h3>
            <p class="pub-date">{{ post.date | readableDate }}</p>
            <p>Autora: {{ post.data.author }}</p>
            <p>{{ post.data.description }}</p>
            <a href="{{ post.url }}">Acessar</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    {% include "footer.njk" %}
  </body>
</html>
