---
layout: base_blog
permalink: /search/
title: Resultados da pesquisa
---

<p class="go-back"><a href="/blog/">← Ver todos os artigos</a></p>
<!-- placeholder for "Resultados da pesquisa para 'termo'" -->
<p id="search-info" class="search-info"></p>

<ul role="list" id="search-results" class="articles_list flow">
  <template id="snippet-template">
    <li class="snippet transition-slide-up transition-fade">
      <a href="">
        <img src="" alt="">
        <h3 class="snippet_title"></h3>
        <p class="snippet_author-date"></p>
        <p class="snippet_description"></p>
      </a>
    </li>
  </template>
</ul>

<p id="search-message" class="search-message"></p>
