---
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage

permalink: "/tags/{{ tagPage.tag | slug }}/"
layout: base_blog

eleventyComputed:
  title: "Tópico: {{ tagPage.tag }}"
---


<p><a href="/blog/">← Ver todos os artigos</a></p>

{% import "snippet.njk" as Snippet %}

<ul class="articles_list flow">
  {%- for post in tagPage.posts | reverse -%}
  {{ Snippet.snippet(
    post.url,
    post.data.image,
    post.data.image_alt,
    post.data.title,
    post.date,
    post.data.author,
    post.data.lastmod,
    post.data.description
  ) }}
  {%- endfor -%}
</ul>

