/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #222;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 4rem clamp(2rem, 6vw, 5rem) 4rem;
}

body {
  font-family: "Signika", sans-serif;
  color: #033b3b;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 700;
  line-height: 1.3em;
  text-wrap: balance;
}

h2 {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 700;
  line-height: 1.3em;
  text-align: center;
}

h3 {
  line-height: 1.5rem;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

address {
  font-style: normal;
}

p a {
  display: inline-block;
  line-height: 1.1;
  border-bottom: 2px solid transparent;
  color: #08aeaf;
  font-weight: 700;
  transition: transform 0.3s ease, border-color 0.3s ease;
}
p a:hover, p a:focus {
  transform: scale(1.05);
  border-color: #08aeaf;
}
p a:active {
  transform: scale(0.97);
  border-bottom: none;
}

.img_link {
  display: inline-block;
  transition: transform 0.3s ease;
}
.img_link:hover, .img_link:focus {
  transform: scale(1.1);
}
.img_link:active {
  transform: scale(0.97);
}

.btn {
  display: inline-block;
  box-shadow: none;
  padding: 0.75rem 2rem;
  font-weight: 700;
  font-size: clamp(1rem, 2vw, 1.1rem);
  background-color: #08aeaf;
  color: #fff;
  border: none;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.3rem;
  font-family: "Signika", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover, .btn:focus {
  background-color: #319e4e;
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.btn:active, .btnpressed {
  background-color: #079697;
  transform: scale(0.97);
  box-shadow: none;
}

.btn_border {
  background-color: transparent;
  border: 3px solid #08aeaf;
  color: #033b3b;
}
.btn_border:hover, .btn_border:focus {
  background-color: transparent;
}

.navigation {
  margin: 1rem;
}
.navigation .nav-main {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  padding-right: 2rem;
  background-color: #65cdcd;
  border-radius: 100px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo lema blogs";
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.navigation .nav-main img {
  width: clamp(30px, 5vw, 50px);
}
.navigation .nav-main p {
  font-size: clamp(0.5rem, 3.6vw, 1rem);
  line-height: 1rem;
}
.navigation .nav-main .lema {
  justify-self: start;
}
@media (max-width: 768px) {
  .navigation .nav-main {
    padding-right: 0.5rem;
  }
  .navigation .nav-main .blogs {
    max-width: 10ch;
  }
}
.navigation .call {
  background-color: #319e4e;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-top: -0.5rem;
  border-radius: 0.5rem;
  width: clamp(10rem, 50vw, 18rem);
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  color: white;
}
.navigation .call p {
  font-size: clamp(0.5rem, 3vw, 0.8rem);
  line-height: 0.8rem;
}

footer {
  background-image: linear-gradient(to bottom, #08aeaf, white);
}
footer section {
  padding: 2rem;
}
footer .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .main .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 300px;
}
footer .main .contact ul {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}
footer .main .contact ul img {
  width: 20px;
}
footer .main .logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .main .logo img {
  width: clamp(80px, 5vw, 200px);
  height: auto;
}
footer .main .aviso_legal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  text-align: center;
}
footer .main .aviso_legal p {
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  footer .main {
    flex-direction: column;
    align-items: center;
  }
}
footer .rights_reserved {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
footer .rights_reserved .obs {
  font-size: 0.7rem;
}

.container {
  margin: 5%;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}
.container .post {
  max-width: 720px;
}
.container .post .pub-date {
  padding-left: 10px;
  border-left: 3px solid #319e4e;
  font-size: 0.8rem;
}
.container .post .autor-data-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0rem;
}
.container .post .autor-data-container img {
  width: clamp(60px, 10vw, 90px);
  border: solid 3px #08aeaf;
  border-radius: 100px;
}
.container .post .autor-data-container .author-picture {
  margin: inherit;
}
.container .side-bar {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 0;
}
@media (max-width: 768px) {
  .container .side-bar {
    padding: inherit;
    margin-top: 2rem;
  }
}
.container .side-bar .ajuda {
  background-image: linear-gradient(to bottom, rgba(195, 220, 200, 0.4666666667), rgba(245, 234, 210, 0.1607843137));
  border: 3px solid #033b3b;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}
.container .side-bar .artigos {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem;
  gap: 2rem;
}
.container .side-bar .artigos ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .side-bar .artigos ul li {
  border-left: 3px solid #08aeaf;
  padding-left: 0.5rem;
}
.container .side-bar .artigos ul li p {
  font-size: 0.8rem;
  line-height: 1rem;
}

.post-content .video {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.post-content .video iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: none;
  overflow: hidden;
  display: block;
}
.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.post-content img {
  max-width: 500px;
  margin: auto;
}
@media (max-width: 768px) {
  .post-content img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.post-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-content figcaption {
  font-style: italic;
  margin-top: -1rem;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .post-content h1 {
    margin-top: 1rem;
  }
}

.highlight-numbers {
  font-size: 1.8rem;
  font-weight: 700;
  color: #319e4e;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}