<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JS -->
    <script type="module" src="/js/main.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <!-- Link to compiled CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- favicon -->
    <link
      rel="icon"
      href="/images/icons/favicon-16.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="icon"
      href="/images/icons/favicon-32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/icons/apple-touch-icon.png"
    />

    <!-- SEO-->
    <title>Terapia para Superação de Dores Emocionais</title>

    <link rel="canonical" href="https://eftclub.com/terapia-cura-emocional" />

    <meta
      name="description"
      content="Terapia para superação de dores emocionais. Não é sobre o sintoma, mas sobre o que está por trás do sintoma."
    />

    <meta name="robots" content="index, follow" />
  </head>

  <!--icons-->
  <!--check mark icon-->
  <svg style="display: none" xmlns="http://www.w3.org/2000/svg">
    <symbol id="icon-check" viewBox="0 0 24 24">
      <g transform="scale(1,-1) translate(0,-24)">
        <path
          fill="currentColor"
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10
             10-4.48 10-10S17.52 2 12 2zm0 18c-4.41
             0-8-3.59-8-8s3.59-8 8-8 8 3.59
             8 8-3.59 8-8 8zm-1-13l-4
             4 1.41 1.41L11 9.83l4.59
             4.58L17 13l-6-6z"
        />
      </g>
    </symbol>
  </svg>
  <!--end icons-->

  <body>
    <div class="background_main">
      <section id="main">
        <div class="banner">
          <img
            src="/images/logo-terapia-cura-emocional.webp"
            alt="Logo da Terapia Cura Emocional"
          />
        </div>
        <div class="content">
          <h1 class="title">
            Enfrentando desafios com ansiedade, depressão ou traumas?
          </h1>
          <div class="proposta">
            <h2 class="subtitle">Terapia alternative online</h2>
            <a href="#price" class="btn full-btn">Agendar Sessão ↓</a>
          </div>
          <div class="terapeuta">
            <img
              src="/images/Mutisia-Profile-EFTclub.webp"
              alt="Foto da terapeuta Mutisia"
            />
            <p>Terapeuta Mutisia</p>
            <ul>
              <li>
                <a
                  class="img_link"
                  href="https://wa.me/5521920172600"
                  target="_blank"
                >
                  <img src="/images/icons/whatsapp-icon.svg" alt="" />
                </a>
              </li>
              <li>
                <a
                  class="img_link"
                  href="https://www.instagram.com/eftclub_terapias/"
                  target="_blank"
                >
                  <img src="/images/icons/instagram-icon.svg" alt="" />
                </a>
              </li>
              <li>
                <a
                  class="img_link"
                  href="https://www.tiktok.com/@eftclub"
                  target="_blank"
                >
                  <img src="/images/icons/tiktok-icon.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- end background_main-->

    <section id="about">
      <div class="especilização">
        <h2>Terapia especializada em:</h2>
        <ul>
          <li>
            <img src="/images/icons/icon_gradient-circle.svg" alt="" />
            <span>ansiedade</span>
          </li>
          <li>
            <img src="/images/icons/icon_gradient-circle.svg" alt="" />
            <span>depressão</span>
          </li>
          <li>
            <img src="/images/icons/icon_gradient-circle.svg" alt="" />
            <span>Traumas</span>
          </li>
          <li>
            <img src="/images/icons/icon_gradient-circle.svg" alt="" />
            <span>Entre outros</span>
          </li>
        </ul>
        <a
          href="https://wa.me/5521920172600"
          class="btn btn-mobile"
          >Agendar Sessão</a
        >
      </div>
      <div class="saber-mais">
        <p>
          Sintomas como <a href="/blog/tecnica_eft_para_ansiedade_passo_a_passo" target="_blank">ansiedade</a> e depressão resultam do acúmulo
          de vivências de medo e tristeza ao longo da vida. Através da terapia,
          ajudo você a trazer à tona essas memórias e liberar as emoções
          vinculadas a elas, eliminando assim a carga emocional que ainda
          impacta o seu presente.
        </p>
        <p class="saiba-mais">
          Saiba mais sobre o processo terapêutico e as técnicas utilizadas:
        </p>
        <ul>
          <li>
            <a
              href="/blog/passo-a-passo-de-como-aplicar-a-tecnica-de-liberacao-emocional-eft"
              class="btn btn_border"
              target="_blank">EFT</a
            >
          </li>
          <li>
            <a href="/blog/processo-terapeutico" class="btn btn_border"
              target="_blank">Processo Terapêutico</a
            >
          </li>
          <li><a href="/blog/desvendando-a-terapia-de-reprocessamento-generativo-trg" class="btn btn_border" target="_blank">TRG</a></li>
        </ul>
      </div>
    </section>

    <div class="background_testimony">
      <section id="testimony">
        <h2 class="testimony_title">
          Confira os depoimentos de quem já passou pelo processo terapêutico
        </h2>
        <div class="testimony_abrath">
          <a
            href="https://maps.app.goo.gl/xdwBKmU5331wy8iDA"
            target="_blank"
            class="img_link"
            >
              <img class="avaliacao-google"
                  loading="lazy"
                  src="/images/five-stars-eftclub.webp"
                  alt="Avaliação de cinco estrelas no Google Meu Negócio"
                /></a
          >
          <a
            target="_blank"
            href="https://www.abrath.org.br/localizar-filiados.php"
            class="img_link"
            ><img
              loading="lazy"
              width="900"
              height="auto"
              src="/images/Registro-Profissional-ABRATH.webp"
              alt="Selo de registro profissional na Associação Brasileira dos Terapeutas Holísticos"
          /></a>
          <a href="https://wa.me/5521920172600" class="btn"
            >Agendar Sessão</a
          >
        </div>
        <div class="testimony_testimony">
          <img
            loading="lazy"
            width="900"
            height="auto"
            class="open-button"
            src="/images/Avalicoes-do-Google.webp"
            alt="Captura de tela com três avaliações positivas no Google sobre a terapeuta Mutisia. As avaliações são de Vera, Nayany e Nayara. Vera comenta que se sente mais leve e recomenda muito a terapeuta. Nayany descreve como o acompanhamento com Mutisia a ajudou a transformar sua visão da vida e curar sua criança interior, expressando gratidão. Nayara diz que a técnica é impressionante e relata mudanças significativas em comparação com a terapia convencional. Todas as avaliações exibem nota máxima de cinco estrelas."
          />
          <a class="btn btn_border open-button">Ler mais depoimentos</a>
        </div>

        <dialog class="depoimentos_popup">
          <a class="btn btn_border close-button">Fechar</a>

          <ul>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-aleksandra.webp"
                alt="Aleksandra, 5 estrelas (2 anos atrás): experiência ímpar com EFT, processo de cura profundo, gratidão"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-andressa.webp"
                alt="Andressa, 5 estrelas (2 anos atrás): lembra memórias que fazem todo sentido, gratidão"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-elisangela.webp"
                alt="Elisangela, 5 estrelas (1 mês atrás): maravilhosaaaa, entendi minha criança interior, profissional nota 1000, super indico"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-lisandra.webp"
                alt="Lisandra, 5 estrelas (2 anos atrás): super atenciosa, me senti muito à vontade, parabéns pelo trabalho"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-nayany.webp"
                alt="Nayany, 5 estrelas (1 ano atrás): mudou minha visão, curou minha criança interior, encontrei paz interior, gratidão"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-nayara.webp"
                alt="Nayara, 5 estrelas (11 meses atrás): técnica impressionante, mudanças significativas comparadas à terapia convencional"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-poliana.webp"
                alt="Poliana, 5 estrelas (1 ano atrás): experiência maravilhosa, me senti acolhida e compreendida ❤️🙌"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-rogelio.webp"
                alt="Rogelio, 5 estrelas (1 mês atrás): em 1 mês de EFT me sinto leve e com paz, Muti é maravilhosa"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-sheila.webp"
                alt="Sheila, 5 estrelas (1 ano atrás): super acolhida, questões esclarecidas de forma clara e objetiva, super recomendo 😊"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
            <li>
              <img
                src="/images/Depoimentos/depoimento-eftclub-vera.webp"
                alt="Vera, 5 estrelas (9 meses atrás): libertador, hoje me sinto leve, bagagem pesada ficou no passado, recomendo super"
                loading="lazy"
                width="300"
                height="auto"
              />
            </li>
          </ul>
        </dialog>
      </section>
    </div>

    <section id="price">
      <div>
        <h2>Preço das Sessões</h2>
      </div>
      <div class="prices">
        <div class="individual">
          <h3>Adquirindo Uma Sessão por Vez</h3>
          <ul class="benefits-list">
            <li>
              <img src="/images/icons/icon_mark.svg" alt="" />
              <span>Terapia online por videoconferência.</span>
            </li>
            <li>
              <img src="/images/icons/icon_mark.svg" alt="" />
              <span>Sessões com duração de 1h a 1h30.</span>
            </li>
            <li>
              <img src="/images/icons/icon_mark.svg" alt="" />
              <span>Anamnese e aplicação de técnicas alternativas.*</span>
            </li>
            <li>
              <img src="/images/icons/icon_mark.svg" alt="" />
              <span>
                Suporte contínuo pelo WhatsApp para tirar dúvidas em qualquer
                momento do processo.
              </span>
            </li>
          </ul>
          <div class="price_container">
            <p class="price">R$ 145</p>
            <p>Por sessão</p>
          </div>
          <a
            href="https://wa.me/5521920172600"
            class="btn individual" target="_blank"
            >Agendar Sessão</a
          >
          <p class="obs">
            *Técnicas alternativas: <a href="/blog/processo-terapeutico#abordagens" target="_blank">Causa Raiz</a>,
            <a href="/blog/passo-a-passo-de-como-aplicar-a-tecnica-de-liberacao-emocional-eft" target="_blank">EFT</a> e <a href="/blog/desvendando-a-terapia-de-reprocessamento-generativo-trg" target="_blank">TRG</a>.
          </p>
        </div>
        <div class="pacote">
          <h3>Adquirindo Um Pacote de Quatro Sessões</h3>
          <ul>
            <li>
              <img src="/images/icons/icon_mark.svg" alt="" />
              <span>Tudo do anterior</span>
            </li>
            <li>
              <img src="/images/icons/icon_filled-mark.svg" alt="" />
              <span>18% de desconto</span>
            </li>
          </ul>
          <div class="price_container">
            <p class="price">R$ 120</p>
            <p>Por sessão</p>
          </div>
          <div class="price_container">
            <p>Somente com investimento à vista de:</p>
            <p class="price">R$ 480</p>
          </div>
          <a
            href="https://wa.me/5521920172600"
            class="btn pacote"
            >Adquirir Pacote</a
          >
        </div>
      </div>
    </section>
    {% include "whatsapp-btn.njk" %}
    {% include "footer.njk" %}
  </body>
</html>
