---
permalink: /search.json
eleventyExcludeFromCollections: true
---

[
  {%- for post in collections.post -%}
  {
    "title": {{ post.data.title | dump | safe }},
    "url": {{ post.url | dump | safe }},
    "description": {{ post.data.description | dump | safe }},
    "tags": {{ post.data.tags | dump | safe }}
  }{%- if not loop.last -%},{%- endif -%}
  {%- endfor -%}
]
