@use 'reset';
@use 'variables';

.container {
  margin: 5%;
  display: flex;
  justify-content: center;
  @media (max-width: variables.$mobile-break) {
    flex-wrap: wrap;
  }

  .post {
    max-width: 720px;
    margin-top: 1rem;

    @media (max-width: variables.$mobile-break) {
      margin-top: 0px;
    }

    .pub-date {
      padding-left: 10px;
      border-left: 3px solid variables.$color-secondary;
      font-size: 0.8rem;
    }

    .autor-data-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 2rem 0rem 1rem;

      img {
        width: clamp(60px, 10vw, 90px);
        border: solid 3px variables.$color-primary;
        border-radius: 100px;
      }

      .author-picture {
        margin: inherit;
      }
    }
  }

  .side-bar {
    height: fit-content;
    padding-top: 2rem;
    position: sticky;
    top: 0rem;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 0;

    @media (max-width: variables.$mobile-break) {
      position: static;
      padding: inherit;
      margin-top: 2rem;
    }

    .ajuda {
      background-image: linear-gradient(to right, #b8ddc5, #faebd0);
      border: 3px solid variables.$color-text;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5rem;
      gap: 1.5rem;
    }

    .artigos {
      border-radius: 30px;
      margin-top: 1rem;

      img {
        max-width: 80px;
      }

      .snippet {
        margin: 1rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

//-------- texto posts --------//

.post-content {
  .video,
  .video-shorts {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: none;
    overflow: hidden;
    display: block;
  }

  .shorts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .overlay-container {
      position: relative;
      max-width: 200px;
      aspect-ratio: 9 / 16;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      @media (max-width: variables.$mobile-break) {
        max-width: 130px;
      }

      .video-shorts {
        width: 100%;
        height: 100%;
        position: relative;
        padding: inherit;

        iframe {
          width: 100%;
          height: 100%;
          border: none;
          display: block;
          border-radius: 10px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: opacity 0.5s ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: 500px;
    margin: auto;

    @media (max-width: variables.$mobile-break) {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figcaption {
    font-style: italic;
    margin-top: -1rem;
    font-size: 0.8rem;
  }
  @media (max-width: variables.$mobile-break) {
    h1 {
      margin-top: 1rem;
    }
  }
}

.highlight {
  font-size: 1.8rem;
  font-weight: 700;
  color: variables.$color-secondary;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

// btn final do blog quando chamando para terapia
#blog-call {
  display: block;
  width: fit-content;
  margin: 0 auto;

  @media (max-width: variables.$mobile-break) {
    display: none;
  }
}

//-------- index --------//

.blog-index {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    'title aside'
    'post aside';

  .container-title {
    margin-top: 1rem;
    grid-area: title;
  }

  .post {
    grid-area: post;
  }

  .side-bar-blog {
    grid-area: aside;
    align-self: start;
  }

  @media (max-width: variables.$mobile-break) {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'title'
      'aside'
      'post';

    place-items: center;

    .container-title {
      text-align: center;
    }
  }
}

.snippet {
  margin-bottom: 3rem;
  margin-top: 3rem;

  a {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto auto;
    grid-template-areas:
      'img title'
      'img author'
      'img description';
    align-items: center;

    img {
      grid-area: img;
      max-width: 150px;
      margin-right: 1rem;
      border-radius: 1rem;
    }
    .snippet_title {
      grid-area: title;
      margin-top: 3%;
    }
    .snippet_author-date {
      grid-area: author;
      margin-bottom: 0.5rem;
      font-size: 0.8em;
    }
    .snippet_description {
      grid-area: description;
      margin-bottom: 3%;
    }

    @media (max-width: variables.$mobile-break) {
      img {
        max-width: 100px;
        align-self: start;
      }
    }
  }
}

.tags {
  p {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  p {
    font-weight: bold;
    text-align: center;
  }

  .search-input {
    margin: 1rem 0rem;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }

  .search-bar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    input {
      flex: 1;
    }
  }
}

.search-message {
  text-align: center;
  font-style: italic;
  color: gray;
  margin-bottom: 1rem;
  // background-color: #fa4b48;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  max-width: 250px;
}

.go-back {
  margin-bottom: 2rem;
}
