@import "reset";
@import "variables";

.background_main {
  padding: clamp(2rem, 5vw, 4rem);

  @media (max-width: $mobile-break) {
    padding: 2rem;
  }

  margin-inline: auto;
  background-image: url("/src/images/background_top.webp"),
    url("/src/images/background_botton.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: clamp(100px, 20vw, 200px), clamp(100px, 20vw, 200px);
  background-color: #f5f7f0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .banner {
    padding-top: 2rem;
    img {
      width: clamp(200px, 30vw, 300px);
      height: auto;
    }
  }

  .content {
    padding: 2rem clamp(1rem, 4vw, 5rem);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h1 terapeuta"
      "proposta terapeuta";

    h1 {
      max-width: clamp(40rem, 10vw + 1rem, 45rem);
      line-height: 1em;
      text-align: center;
      grid-area: h1;
      align-self: center;
    }
    .proposta {
      display: grid;
      grid-area: proposta;
      align-self: start;
      justify-items: center;
      gap: 1rem;
    }
    .terapeuta {
      grid-area: terapeuta;
    }

    @media (max-width: $mobile-break) {
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        "h1"
        "terapeuta"
        "proposta";
      gap: 2rem;

      h1 {
        max-width: clamp(22rem, 10vw + 1rem, 45rem);
      }
    }
  }

  .terapeuta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;

    img {
      width: clamp(150px, 20vw, 200px);
    }

    ul {
      display: flex;
      gap: 5px;
      justify-content: center;

      img {
        width: 20px;
      }
    }
  }
}

// Starts section 2

#about {
  padding: 3rem clamp(1rem, 4vw, 5rem);
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;

  .especilização {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  li {
    display: flex;
    gap: 10px;
  }
  img {
    width: 26px;
  }

  .saber-mais {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    max-width: 39rem;

    .saiba-mais {
      font-weight: 700;
    }

    .btn {
      max-width: 10rem;
      padding: 0.5rem 1.3rem;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      align-items: baseline;
      .btn {
        background-color: transparent;
        border: 3px solid $color-primary;
        color: $color-text;
      }
    }
  }

  @media (max-width: 1060px) {
    .btn-mobile {
      display: none;
    }
    gap: 2rem;

    .especilização {
      align-items: center;
    }
  }
}
