@use 'reset';
@use 'variables';

.container {
  margin: 5%;
  display: flex;
  justify-content: center;
  @media (max-width: variables.$mobile-break) {
    flex-wrap: wrap;
  }

  .post {
    max-width: 720px;

    .pub-date {
      padding-left: 10px;
      border-left: 3px solid variables.$color-secondary;
      font-size: 0.8rem;
    }

    .autor-data-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 2rem 0rem 1rem;

      img {
        width: clamp(60px, 10vw, 90px);
        border: solid 3px variables.$color-primary;
        border-radius: 100px;
      }

      .author-picture {
        margin: inherit;
      }
    }
  }

  .side-bar {
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 0;

    @media (max-width: variables.$mobile-break) {
      padding: inherit;
      margin-top: 2rem;
    }

    .ajuda {
      background-image: variables.$color-background;
      border: 3px solid variables.$color-text;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      gap: 3rem;
    }
    .artigos {
      //   border: 3px solid variables.$color-text;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem 2rem;
      gap: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          border-left: 3px solid variables.$color-primary;
          padding-left: 0.5rem;

          p {
            font-size: 0.8rem;
            line-height: 1rem;
          }
        }
      }
    }
  }
}

//-------- texto posts --------//

.post-content {
  .video,
  .video-shorts {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: none;
    overflow: hidden;
    display: block;
  }

  .shorts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .overlay-container {
      position: relative;
      max-width: 200px;
      aspect-ratio: 9 / 16;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      @media (max-width: variables.$mobile-break) {
        max-width: 130px;
      }

      .video-shorts {
        width: 100%;
        height: 100%;
        position: relative;
        padding: inherit;

        iframe {
          width: 100%;
          height: 100%;
          border: none;
          display: block;
          border-radius: 10px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: opacity 0.5s ease;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  img {
    max-width: 500px;
    margin: auto;

    @media (max-width: variables.$mobile-break) {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figcaption {
    font-style: italic;
    margin-top: -1rem;
    font-size: 0.8rem;
  }
  @media (max-width: variables.$mobile-break) {
    h1 {
      margin-top: 1rem;
    }
  }
}

.highlight {
  font-size: 1.8rem;
  font-weight: 700;
  color: variables.$color-secondary;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

// btn final do blog quando chamando para terapia
#blog-call {
  display: block;
  width: fit-content;
  margin: 0 auto;

  @media (max-width: variables.$mobile-break) {
    display: none;
  }
}

//index
.container-blogs {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;

  .search-input {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .search-bar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    input {
      flex: 1;
    }
  }

  .search-message {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-bottom: 1rem;
  }

  .tag-link {
    // color: variables.$color-primary;
    cursor: pointer;
    text-decoration: none;
  }
  .tag-link.active {
    color: variables.$color-secondary;
  }
}
// search bar
